body {
<<<<<<< HEAD
    background-color: #ffffff;
=======
    background-color: #d3d3d3;
>>>>>>> 3aae19dab20b13d0f8ef2e82862dfacd17ab8672
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
<<<<<<< HEAD
canvas {
    margin: 20px;
}
#tela{
    border: 1px solid black;
=======

canvas {
    border: 1px solid black;
    margin: 20px;
>>>>>>> 3aae19dab20b13d0f8ef2e82862dfacd17ab8672
}