h3 {
color: green;
text-align: center;
border-style: solid ;
border-color: blue;
background-color: wheat;
height: 100px;
padding: 20px;
line-height: 100px;
font-size: 30px;
margin: 0;
}
#img1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25px;
    left: 25px;

}
#img2 {
width: 100px;
height: 100px;
position: absolute;
top: 25px;
right: 25px;
}
.menu {
background-color: lightblue;
border: 2px solid rgb(0, 0, 0);
font-weight: bold;
}
.menu ul {
list-style: none;
text-align: center;
}
.menu li {
display: inline-block;
margin: 0 30px;
color: red;
}



